@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    font-family: "Outfit", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
}

main {
    width: 300px;
    padding: 1.2rem;
    background-color: var(--White);
    border-radius: 1.2rem;
}

.image-container {
    margin-bottom: 1.2rem;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
    color: var(--Dark-blue);
    text-align: center;
    margin-bottom: 1.2rem;
}

p {
    color: var(--Grayish-blue);
    text-align: center;
    margin-bottom: 1.2rem;
}